{% extends "base/base.html" %}

{% block content %}
    <p><b>Work Day:</b> {{ workday.work_date }}</p>
    <p><b>Employee:</b> {{ workday.employee }}</p>
    <p><b>Location:</b> {{ workday.location }}</p>
    <p><b>Time In:</b> {{ workday.time_in }}</p>   
    <p><b>Time Out:</b> {{ workday.time_out }}</p>
    <p><b>Hours Code:</b> {{ workday.hours_code }}</p>
    <p><b>FBP Payroll:</b> ${{ workday.fbp_payroll }}</p>
    <p><b>AMCO Payroll:</b> ${{ workday.amco_payroll }}</p>

    {% if user.is_superuser %}
        <p><a href="{% url 'workdays:update' workday.id %}">Update</a></p>
        <p><a href="{% url 'workdays:delete' workday.id %}">Delete</a></p>
    {% endif %}
{% endblock content%}