{% extends "base/base.html" %}

{% block content %}
    {% if user.is_superuser %}
    <form class="text-center" action="{% url 'workdays:list' %}" method="get">
        <input name="first_name" type="text" placeholder="Search first name">
        <input name="last_name" type="text" placeholder="Search last name">
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
    {% endif %}

    {% if workdays %}
        <h1 class="text-center">Dr. {{ user_full_name }}</h1>
        <div class="clearfix">
            <a class="btn btn-info right mr-2" href="{% url 'workdays:list' %}?{{ next_month }} ">Next Month >></a>
            <a class="btn btn-info right mr-2" href="{% url 'workdays:list' %}?{{ prev_month }}"><< Previous Month</a>
        </div>
        <div style="color: blueviolet;">
            {{ calendar }}
        </div>
    {% else %}
        {% if user.is_superuser %}
            <h5 class="text-center m-5">Either no search was conducted or no workdays are available.</h5>
        {% else %}
            <h5 class="text-center m-5">No workdays are listed at this time.</h5>
        {% endif %}
    {% endif %}
    
    {% if user.is_superuser %}
        <h4><a href="{% url 'workdays:create' %}" class="btn btn-primary">Add Work Day</a></h4>
    {% endif %}
{% endblock content%}