{% extends "users/list.html" %}

{% block options %}
    {% if user.is_superuser or user == user_ %}
        <td><a href="{% url 'users:doctor_detail' user_.id %}" class="btn btn-success">View</a></td>
    {% endif %}

    {% if user.is_superuser and user != user_ and user_.is_active %}
        <td><a href="{% url 'users:admin_update' user_.id %}"  class="btn btn-primary">Update</a></td>
        <td><a href="{% url 'users:admin_delete' user_.id %}"  class="btn btn-danger">Delete</a></td>
    {% endif %}
{% endblock options %}