{% extends "users/list.html" %}
{% include "base/admin_sidebar.html" %}

{% block search_url %}
    action="{% url 'users:admin_list' %}"
{% endblock search_url %}

{% block options %}
    {% if user.is_superuser or user == user_ %}
        <td><a href="{% url 'users:admin_detail' user_.id %}">View</a></td>
    {% endif %}

    {% if user.is_superuser and user != user_ and user_.is_active %}
        <td><a href="{% url 'users:admin_update' user_.id %}">Update</a></td>
        <td><a href="{% url 'users:admin_delete' user_.id %}">Delete</a></td>
    {% endif %}
{% endblock options %}