{% extends "base/base.html" %}

{% block content %}
    <p><b>Username:</b> {{ user_.username }}</p>
    <p><b>First Name:</b> {{ user_.first_name }}</p>
    <p><b>Last Name:</b> {{ user_.last_name }}</p>
    <p><b>Email:</b> {{ user_.email }}</p>   
    <p><b>Administrator:</b> {{ user_.is_superuser|yesno:"Yes,No" }}</p>
    <p><b>Active:</b> {{ user_.is_active|yesno:"Yes,No" }}</p>
    <p><b>Description:</b> {{ user_.profile.description }}</p>
    <p><b>Phone Number:</b> {{ user_.profile.phone_number }}</p>
    <p><b>Date of Birth:</b> {{ user_.profile.date_of_birth }}</p>
    <p><b>Address:</b> {{ user_.profile.address }}</p>
    <p><b>City:</b> {{ user_.profile.city }}</p>
    <p><b>State:</b> {{ user_.profile.state }}</p>
    <p><b>ZIP Code:</b> {{ user_.profile.zip_code }}</p>
    
    {% block options %}{% endblock options %}

    {% block back_button %}{% endblock back_button %}
{% endblock content%}