{% extends "base/base.html" %}

{% block content %}
    <form {% block action_url %}{% endblock action_url %} method="get">
        <input name="first_name" type="text" placeholder="Search first name">
        <input name="last_name" type="text" placeholder="Search last name">
        <button type="submit">Search</button>
    </form>
    {% if users %}
        <table>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Description</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP Code</th>
                <th colspan="3">Options</th>
            </tr>
            {% for user_ in users %}    
                <tr>
                    <td>{{ user_.username }}</td>
                    <td>{{ user_.first_name }}</td>
                    <td>{{ user_.last_name }}</td>
                    <td>{{ user_.email }}</td>
                    <td>{{ user_.is_active|yesno:"Yes,No" }}</td>
                    <td>{{ user_.profile.description }}</td>
                    <td>{{ user_.profile.phone_number }}</td>
                    <td>{{ user_.profile.date_of_birth }}</td>
                    <td>{{ user_.profile.address }}</td>
                    <td>{{ user_.profile.city }}</td>
                    <td>{{ user_.profile.state }}</td>
                    <td>{{ user_.profile.zip_code }}</td>
                    
                    {% block options %}{% endblock options %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No users met the search criteria.</h1>
    {% endif %}

    {% if user.is_superuser %}
        <h4><a href="{% url 'users:create' %}">Add User</a></h4>
    {% endif %}
{% endblock content%}