{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>TestProject - {{ title }}</title>
        {% else %}
            <title>TestProject</title>
        {% endif %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar">
                    {% if user.is_authenticated %}
                    <h4>
                        <a href="{% url 'users:logout' %}">Logout</a>
                        <a href="{% url 'users:admin_list' %}">Administration</a>
                        <a href="{% url 'workdays:list' %}">Time Card Management</a>
                        <a href="{% url 'reports:report' %}">Reports</a>
                    </h4>
                    {% endif %}
                </div>
                    
                <div class="sidenav">
                    {% if user.is_authenticated %}
                        {% block sidebar %}{% endblock sidebar %}
                    {% endif %}
                </div>
            </nav>
        </header>
        <div class="main">
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    {{ message.tags }}
                    {{ message }}
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>
    </body>
</html>