{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" class="form-horizontal">
        {% csrf_token %}
        {% if user_form and profile_form %}
            <div class="form-group col-xs-4">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </div>
        {% else %}
            <div class="form-group col-xs-4">
                {{ form|crispy }}
            </div>
        {% endif %}
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </form>
    {% block back_button %}{% endblock back_button %}
{% endblock content %}

