{% extends "base/base.html" %}

{% block content %}
    {% if locations %}
        <table>
            <tr>
                <th>Name</th>
                <th>Sector</th>
                <th colspan="2">Options</th>
            </tr>
            {% for location in locations %}    
                <tr>
                    <td>{{ location.name }}</td>
                    <td>
                        {% if location.sector == "E" %}
                            East
                        {% elif location.sector == "W" %}
                            West
                        {% endif %}
                    </td>

                    <td><a href="{% url 'locations:update' location.id %}">Update</a></td>
                    <td><a href="{% url 'locations:delete' location.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No locations are listed at this time.</h1>
    {% endif %}

    <h4><a href="{% url 'locations:create' %}">Add Location</a></h4>

    <h4><a href="{% url 'home' %}">Back</a></h4>
{% endblock content %}